.screenshot{
    height: 500px;
}


body {
    font-family: sans-serif;
    margin: 0px;
}

.header {
    z-index: 1000;
    background-color: #3A405A;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 7.5vh;
    width: 100%;
    display: flex;
}

a.invisibleLink {
    text-decoration: none;
    color: inherit;
}

#logo {
    color: white;
    height: 5.5vh;
    line-height: 5.5vh;
    font-size: 5vh;
    padding: 1vh;
    margin-left: 7.5vh;
}

#upload,
#signin {
    cursor: pointer;
    height: 5.5vh;
    line-height: 5.5vh;
    font-size: 2.5vh;
    padding: 1vh;
}

#upload {
    margin-left: auto;
    margin-right: 5vh;
}

#signin {
    margin-right: 7.5vh;
}


.content {
    margin-top: 7.5vh;
    padding-top: 2.5vh;
    #background-color: #f0f0f0;
}

.galleryWrapper{
    overflow: scroll;
    width: 100vw;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    padding: 2vw;
}

.galleryBox {
    width: 100%;
    background-color: white;
}

.galleryImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    width: 100%;
}

.gallerySubtitle {
    display: flex;
    text-align: center;
    padding: 2vh;
}

.title {
    color: black;
    font-size: 2.5vh;
    text-align: left;
    margin: 1vh;
}

.user {
    text-align: left;
    margin: 1vh;
    font-size: 2vh;
    color: gray;
}

.likes{
    height: 5vh;
    line-height: 5vh;
    margin: 2vh;
    margin-left: auto;
    font-size: 2.5vh;
}

.heart {
    cursor: pointer;
    margin: 2vh;
    margin-left: 0px;
    height: 5vh;
    fill: none;
    stroke: #BC4749;
    stroke-width: 0.5vh;
}

.heart.active {
    fill: #BC4749;
    stroke: none;
}

.invisible {
    display: none;
}

.dialog {
    z-index: 100;
    position: fixed;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
}

.dialogBackground {
    background-color: rgba(0, 0, 0, .5);
    filter: blur(4px);
    height: 100%;
    width: 100%;
    position: fixed;
    cursor: pointer;
}

.dialogForeground {
    background-color: white;
    top: 25%;
    height: 50%;
    left: 25%;
    width: 50%;
    position: fixed;
    border-radius: 2vw;
    padding: 2vw;
}

.dialogSection {
    position: absolute;
    width: 40%;
    height: calc(50% - 2vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3 {
    width: 100%;
    text-align: center;
}

.inputDescription {
    width: 60%;
    text-align: right;
}

button {
    width: 100%;
    cursor: pointer;
}

.line {
    position: absolute;
}

.paginator{
    height: 7.5vh;
    line-height: 7.5vh;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
}

.page{
    color: white;
    background-color: #3A405A;
    padding: 1vh;
    border-radius: 1vh;
}

a > .page{
    color: black;
    background-color: transparent;
    border: 1px solid black;
}

@media screen and (max-width: 1440px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1024px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    #logo {
        font-size: 2.5vh;
        margin-left: 1vh;
    }

    #upload,
    #signin {
        font-size: 1.5vh;
        margin-right: 2vh;
    }

    .dialogForeground {
        left: 10%;
        width: 80%;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    .heart {
        stroke-width: 0.3vh;
    }
}

@media screen and (max-width: 425px) {
    .dialogForeground {
        height: auto;
        top: 10%;
    }

    .line {
        position: initial;
        width: auto !important;
        border-bottom: 3px solid gray !important;
        margin: 5%;
    }

    .dialogSection {
        position: initial;
        width: calc(80% - 2vw);
        margin-left: 10%;
        display: block;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .heart {
        stroke-width: 0.15vh;
    }
}
